<head>
    <meta charset="UTF-">
    <meta https-equv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initials-scales="1.0">
    <title><%-title%> | CSE 340 App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>